@model Simulador_de_negocios.Models.Producto_servicio

@{
    ViewData["Title"] = "Edit";
}

<h2>Editar</h2>

<h4>Producto_servicio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id_producto" />
            <div class="form-group">
                <label asp-for="nombre_producto" class="control-label"></label>
                <input asp-for="nombre_producto" class="form-control" />
                <span asp-validation-for="nombre_producto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="unidad_produccion" class="control-label"></label>
                <input asp-for="unidad_produccion" class="form-control" />
                <span asp-validation-for="unidad_produccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="produccion_mensual" class="control-label"></label>
                <input asp-for="produccion_mensual" class="form-control" />
                <span asp-validation-for="produccion_mensual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="costo_unitario" class="control-label"></label>
                <input asp-for="costo_unitario" class="form-control" />
                <span asp-validation-for="costo_unitario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="margen_utilidad" class="control-label"></label>
                <input asp-for="margen_utilidad" class="form-control" />
                <span asp-validation-for="margen_utilidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="precio_publico" class="control-label"></label>
                <input asp-for="precio_publico" class="form-control" />
                <span asp-validation-for="precio_publico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="datos_empresa_id_empresa" class="control-label"></label>
                <input asp-for="datos_empresa_id_empresa" class="form-control" />
                <span asp-validation-for="datos_empresa_id_empresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
